body{
  margin: 0;
  padding: 0;
}

.navigation {
	min-height: 70px;
	background: #262626;
  width: 100%;
  position: relative;
}

.nav-container {
	max-width: 1000px;
	margin: 0 auto;
}

.nav-container .brand {
	position: absolute;
	padding-left: 20px;
	float: left;
	line-height: 70px;
	text-transform: uppercase;
	font-size: 1.4em;
}

.nav-container .brand a,
.nav-container .brand a:visited {
	color: #ffffff;
	text-decoration: none;
}

.nav-container .navbar-right {
	float: right;
}

.nav-container .navbar-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-container .navbar-nav ul li {
	float: left;
	position: relative;
}

.nav-container .navbar-nav ul li a{
	display: block;
	padding: 0 20px;
	line-height: 70px;
	background: #262626;
	color: #ffffff;
	text-decoration: none;
}

.nav-container .navbar-nav ul li a:hover{
	background: #2581DC;
	color: #ffffff;
}

.nav-container .navbar-nav ul li a:not(:only-child):after,
.nav-container .navbar-nav ul li a:visited:not(:only-child):after {
	padding-left: 4px;
	content: ' ▾';
}

/* NAVBAR SUB MENU STYLES */
.nav-container .navbar-nav .sub-menu{
  min-width: 200px;
	position: absolute;
	display: none;
	z-index: 1;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-container .navbar-nav .sub-menu li { width: 100%; }
.nav-container .navbar-nav .sub-menu li a { line-height: 20px; padding: 10px 20px; }
.nav-container .navbar-nav ul li.menu-item-has-children:hover .sub-menu{ display: block; }
.nav-container .navbar-nav .sub-menu a:hover{ background: #337ab7 !important; color: #ffffff !important; }
/* NAVBAR SUB MENU STYLES */


/* Mobile navigation */
.nav-container .nav-mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: #262626;
	height: 70px;
	width: 70px;
}

.nav-container #nav-toggle {
	position: absolute;
	left: 18px;
	top: 25px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}

.nav-container #nav-toggle span,
.nav-container #nav-toggle span:before,
.nav-container #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 4px;
	width: 35px;
	background: #ffffff;
	position: absolute;
	display: block;
	content: '';
	transition: all 300ms ease-in-out;
}

.nav-container #nav-toggle span:before {
	top: -10px;
}

.nav-container #nav-toggle span:after {
	bottom: -10px;
}

.nav-container #nav-toggle.active span {
	background-color: transparent;
}

.nav-container #nav-toggle.active span:before, #nav-toggle.active span:after {
	top: 0;
}

.nav-container #nav-toggle.active span:before {
	transform: rotate(45deg);
}

.nav-container #nav-toggle.active span:after {
	transform: rotate(-45deg);
}

/* HEADER1 STYLES */
.header1.sticky-solid,
.header1.sticky-transparent,
.header1.sticky-transparent.scrolled{ position: fixed; top: 0; z-index: 9999; }
.header1.sticky-transparent{ transition: 500ms ease; background-color: transparent; }
.header1.sticky-solid,
.header1.sticky-transparent.scrolled{
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid #e6e6e6;
}
.header1.sticky-solid .nav-container .navbar-nav ul li a,
.header1.sticky-transparent.scrolled ul li a{ background-color: #ffffff; color: #000000; }
.header1.sticky-transparent .navbar-nav ul li a{ background-color: transparent; }
.header1.sticky-solid .nav-container .nav-mobile,
.header1.sticky-transparent .nav-container .nav-mobile{ background: transparent; }
.header1.sticky-solid .nav-container #nav-toggle span,
.header1.sticky-solid .nav-container #nav-toggle span:before,
.header1.sticky-solid .nav-container #nav-toggle span:after,
.header1.sticky-transparent.scrolled .nav-container #nav-toggle span,
.header1.sticky-transparent.scrolled .nav-container #nav-toggle span:before,
.header1.sticky-transparent.scrolled .nav-container #nav-toggle span:after{ background: #000000; }
.header1.sticky-solid .nav-container #nav-toggle.active span,
.header1.sticky-transparent .nav-container #nav-toggle.active span { background-color: transparent; }
.header1.sticky-transparent .logo-normal { display: block; }
.header1.sticky-transparent .logo-sticky { display: none; }
.header1.sticky-transparent.scrolled .logo-normal { display: none; }
.header1.sticky-transparent.scrolled .logo-sticky { display: block; }
/* HEADER1 STYLES */

.visible-xs { display: none!important; }


/* Page content  */
#content {
	max-width: 1000px;
	margin: 0 auto;
	/* padding: 10px; */
}


@media(max-width: 798px) {
	.nav-container .nav-mobile {
		display: block;
	}

	.nav-container .navbar-nav {
		width: 100%;
		padding: 70px 0 0;
	}

	.nav-container .navbar-nav ul {
		display: none;
	}

	.nav-container .navbar-nav ul li {
		float: none;
	}

	.nav-container .navbar-nav ul li a {
		padding: 15px;
		line-height: 20px;
	}

	.nav-container .navbar-nav ul li ul li a {
		padding-left: 30px;
	}

	/* .nav-dropdown { */
  .nav-container .sub-menu{ position: static; }
  .navigation .nav-list-wrapper{ background: #000000; }

  /* HEADER1 STYLES */
  .header1.sticky-solid .nav-container .navbar-nav ul li a,
  .header1.sticky-transparent.scrolled ul li a { color: #ffffff; }
  .header1.sticky-solid .nav-container .navbar-nav ul li a{ background: #000000; }
  /* HEADER1 STYLES */

}

@media(min-width: 799px) {
	.nav-container .nav-list {
		display: block !important;
	}
}
@media (max-width: 767px){
  .hidden-xs { display: none!important; }
  .visible-xs { display: block!important; }
}
